body {
    color: green;
}

.marketing {
  h4 {
    a {
      color: $brand-warning;
    }
  }
  p {
    color: $brand-primary;
  }
}

//border radius change 3.7 
.container .jumbotron {
    @include border-top-radius(0px);
    @include border-bottom-radius(50px);
}

.container .jumbotron {
  @include gradient-striped;
}